/* :root {
  --pinkysh: #ff6464;
  --paperYellow: #fff1d8;
  --smokyBlack: #1b100e;
} */

body {
  margin: 0;
  background-color: #fff1d8;
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #fff1d8;
}

::-webkit-scrollbar-track {
  border: 1px solid;
  background-color: #fff1d8;
  /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: #1b100e;
  /* border-radius: 10px; */
}

/* ::-webkit-scrollbar-button {} */